<%- include('./partials/header.ejs') %>

    <body>
        <div class="container">
            <form action="" method="post">
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control" name="" id="UserEmail" aria-describedby="emailHelpId" placeholder="Email">
                  <small id="emailHelpId" class="form-text text-muted">Insira seu email, ex.: exemplo@exemplo.com</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Senha</label>
                  <input type="password" class="form-control" name="" id="UserPassword" placeholder="Senha">
                </div>
            </form>
        </div>
    </div>
        </div>
    </body>
    <%- include ('./partials/footer.ejs') %>