<%- include('./partials/header.ejs') %>

    <body>
        <div class="full">
            <div class="container">
                <div class="cont">
                    <div class="l">
                        <div class="text-l">
                            <h1>Bem-vindo(a)!</h1>
                            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                        </div>
                    </div>
                    <div class="r">
                        <form action="">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha">
                            <button>Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include ('./partials/footer.ejs') %>